@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {

    --fonte-google: 'Righteous', cursive;
    --fonte-google2: 'Sarala', sans-serif;
}


body {

    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.cabecalho-imagem {

    height: 72px;
}

.menu {

    display: flex;
    gap: 32px;
}

.menu-item {


}